html
    head 
        title Copa Crud

    body 
        nav
            li  
                a(href="/")  Home
            li
                a(href="/teams")  Lista
            li 
                a(href="/form")  Add Time 
            
        h1 Copa Crud
        h3 Divirta-se como nunca antes com create, read, update e delete
        p Quem precisa de futebol quando se pode codar?
        p= `Nosso banco de dados já possui ${length} times.` 
        p Wow! Isso não é incrível?
        a(href="/form") 
            button Adicione um Time